<a href="{{ post.url }}">
    <div class="row" style="background: #eee; margin: 1rem 0; padding: 1rem; align-items: center;">
        <div>
            <p><small>{{ post.data.date | date_to_long_string }}</small></p>
            <h3>{{ post.data.title }}</h3>
            <p>{{ post.data.description }}</p>
        </div>
        {% if post.data.thumbnail %}<img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}"
            style="max-width: 10rem; max-height: 10rem;" />{% endif %}
    </div>
</a>