<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ tags }}">
    <meta name="author" content="{{ author | default:'Anonymous' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>{{ title }}</h1>
        <p>By {{ author | default:'Anonymous' }}</p>
        <p>{{ date | date:'%A, %B %e, %Y' }}</p>
        <p>
            {% for category in categories %}
            <span>#{{ category }}</span>
            {% endfor %}
        </p>
    </header>
    <main>{{ content }}</main>
    <footer>
        <p>&copy; {{ date | default:'now' | date:'%Y' }} {{ author }}</p>
    </footer>
</body>

</html>