<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ tags | join:', ' }}">
    <meta name="author" content="{{ author | default:'Anonymous' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/media/icon.svg" />
    <link rel="stylesheet" type="text/css" href="/media/post.css" />
</head>

<body>
    <header>
        <div class="row">
            <div>
                <h1>{{ title }}</h1>
                <h4>{{ description }}</h4>
                {% if author %}
                <p>Written by <a href="/@{{ author | slugify }}">{{ author }}</a></p>
                {% endif %}
                <p>{{ date | date:'%A, %B %e, %Y' }}</p>
                <p>
                    {% for tag in tags %}
                    {% if tag != 'post' %}
                    <small><a href="/tag/{{ tag | slugify }}">#{{ tag | upcase }}</a></small>
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
            <div class="col">
                <div>
                    <a href="/" title="Go home"><img src="/media/logo.svg" alt="NanoRed" /></a>
                </div>
                {% if thumbnail.url %}
                <div style="max-width: 15rem; max-height: 15rem;">
                    <img src="{{ thumbnail.url }}" alt="{{ thumbnail.alt | default:'Thumbnail' }}" />
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <main>{{ content }}</main>
    <footer>
        <p>&copy; {{ 'now' | date:'%Y' }} <a href="/">NanoRed</a></p>
    </footer>
</body>

</html>