<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ tags | join:', ' }}">
    <meta name="author" content="{{ author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/media/post.css" />
</head>

<body>
    <header>
        <a href="/">Go back</a>
        <h1>{{ title }}</h1>
        <h4>{{ description }}</h4>
        {% if author %}
        <p>By {{ author | default:'Anonymous' }}</p>
        {% endif %}
        <p>{{ date | date:'%A, %B %e, %Y' }}</p>
        <p>
            {% for tag in tags %}
            {% if tag != 'post' %}
            <small>#{{ tag | upcase }}</small>
            {% endif %}
            {% endfor %}
        </p>
    </header>
    <main>{{ content }}</main>
    <footer>
        <p>&copy; {{ 'now' | date:'%Y' }} <a href="/">NanoRed</a></p>
    </footer>
</body>

</html>