<!DOCTYPE html>
<html lang="en">

<head>
    <title>NanoRed</title>
    <meta charset="UTF-8">
    <meta name="description" content="Deep dives, instant reads.">
    <meta name="keywords" content="deep, dives, instant, reads">
    <meta name="author" content="Nicolas Ventura">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/media/post.css" />
</head>


<body>
    <header>
        <h1>NanoRed</h1>
        <h4>Deep dives, instant reads.</h4>
    </header>
    <main>
        <p>This website was last updated on {{ 'now' | date_to_long_string }}.</p>
        <h2>Browse Categories</h2>
        <p>
            {% for collection in collections %}
            {% if collection[0] != 'post' and collection[0] != 'all' %}
            <small><a href="/tag/{{ collection[0] | slugify }}">#{{ collection[0] | upcase }}</a></small>
            {% endif %}
            {% endfor %}
        </p>
        <h2>Latest Posts</h2>
        {% assign recent_posts = collections.post | reverse | slice:0,5 %}
        {% for post in recent_posts %}
        <a href="{{ post.url }}">
            <div>
                <h3>{{ post.data.title }}</h3>
                <p><small>{{ post.data.date | date_to_long_string }}</small></p>
                <p>{{ post.data.description }}</p>
            </div>
        </a>
        {% endfor %}
        <p><a href="/all">See All Posts</a></p>
    </main>
    <footer>
        <p>&copy; {{ 'now' | date:'%Y' }} <a href="/">NanoRed</a></p>
    </footer>
</body>

</html>