<!DOCTYPE html>
<html lang="en">

<head>
    <title>NanoRed</title>
    <meta charset="UTF-8">
    <meta name="description" content="Deep dives, instant reads.">
    <meta name="keywords" content="deep, dives, instant, reads">
    <meta name="author" content="Nicolas Ventura">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/media/icon.svg" />
    <link rel="stylesheet" type="text/css" href="/media/post.css" />
</head>


<body>
    <header>
        <div class="row">
            <div>
                <img src="/media/logo.svg" alt="NanoRed" style="max-width: initial; width: 200%;" />
            </div>
            <div>
                <h4>Deep dives, instant reads.</h4>
                <p>Created by <a href="https://nicfv.com/">Nicolas Ventura</a></p>
            </div>
        </div>
    </header>
    <main>
        <p>Want to be an <a href="/authors">author</a> and have a story to share? Learn how to <a href="/write">write to NanoRed</a>!</p>
        <p>This website was last updated on {{ 'now' | date_to_long_string }}.</p>
        <h2>Browse Categories</h2>
        <p>
            {% assign tags = collections | keys | slice:0,5 %}
            {% for tag in tags %}
            {% if tag != 'post' and tag != 'all' %}
            <small><a href="/tag/{{ tag | slugify }}">#{{ tag | upcase }}</a></small>
            {% endif %}
            {% endfor %}
            <small>or <a href="/tag">see all</a></small>
        </p>
        <h2>Latest Posts</h2>
        {% assign recent_posts = collections.post | reverse | slice:0,5 %}
        {% for post in recent_posts %}
        {% include 'feat.html' post:post %}
        {% endfor %}
        <p><a href="/all/1">See All Posts</a> ({{ collections.post.size }})</p>
    </main>
    <footer>
        <p>&copy; {{ 'now' | date:'%Y' }} <a href="/">NanoRed</a></p>
    </footer>
</body>

</html>