<!DOCTYPE html>
<html lang="en">

<head>
    <title>NanoRed</title>
    <meta charset="UTF-8">
    <meta name="description" content="Deep dives, instant reads.">
    <meta name="keywords" content="deep, dives, instant, reads">
    <meta name="author" content="Nicolas Ventura">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/media/icon.svg" />
    <link rel="stylesheet" type="text/css" href="/media/post.css" />
</head>


<body>
    <header>
        <div class="row">
            <div>
                <img src="/media/logo.svg" alt="NanoRed" style="max-width: initial; width: 200%;" />
            </div>
            <div>
                <h4>Deep dives, instant reads.</h4>
                <p>Created by <a href="https://nicfv.com/">Nicolas Ventura</a></p>
            </div>
        </div>
    </header>
    <main>
        <p>Want to be an <a href="/authors">author</a> and have a story to share? Please send an email to <a href="mailto:nanored@nicfv.com">nanored@nicfv.com</a></p>
        <p>This website was last updated on {{ 'now' | date_to_long_string }}.</p>
        <h2>Browse Categories</h2>
        <p>
            {% assign tags = collections | keys | slice:0,5 %}
            {% for tag in tags %}
            {% if tag != 'post' and tag != 'all' %}
            <small><a href="/tag/{{ tag | slugify }}">#{{ tag | upcase }}</a></small>
            {% endif %}
            {% endfor %}
            <small>or <a href="/tag">see all</a></small>
        </p>
        <h2>Latest Posts</h2>
        {% assign recent_posts = collections.post | reverse | slice:0,5 %}
        {% for post in recent_posts %}
        <a href="{{ post.url }}">
            <div class="row" style="background: #eee; margin: 1rem 0; padding: 1rem;">
                <div>
                    <p><small>{{ post.data.date | date_to_long_string }}</small></p>
                    <h3>{{ post.data.title }}</h3>
                    <p>{{ post.data.description }}</p>
                </div>
                {% if post.data.thumbnail %}
                <div style="max-width: 10rem; max-height: 10rem;">
                    <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" />
                </div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
        <p><a href="/all">See All Posts</a></p>
    </main>
    <footer>
        <p>&copy; {{ 'now' | date:'%Y' }} <a href="/">NanoRed</a></p>
    </footer>
</body>

</html>