@font-face {
    font-family: 'lato';
    src: url('/media/Lato-Light.ttf');
}

html {
    font-family: 'lato';
    font-size: 125%;
    color: #211;
}

h1 {
    color: #422;
}

h2 {
    color: #633;
}

h3 {
    color: #844;
}

h4 {
    color: #a55;
}

h5 {
    color: #c66;
}

h6 {
    color: #e77;
}

a,
a:visited {
    color: #e11;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #7e1;
}

blockquote {
    margin-left: 0.25rem;
    border-left: 0.25rem solid red;
    padding-left: 1.5rem;
}

pre,
code:not(pre>code) {
    background: #222;
    color: white;
    padding: 0.25rem;
}