@font-face {
    font-family: 'lato';
    src: url('/media/Lato-Light.ttf');
}

* {
    box-sizing: border-box;
    border-collapse: collapse;
}

html {
    font-family: 'lato';
    font-size: 125%;
    background: #fee;
    height: 100%;
}

body {
    background: white;
    max-width: 40rem;
    margin: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body>* {
    padding: 1rem;
}

header,
footer {
    background: #fee;
}

p {
    color: #211;
    text-align: justify;
}

h6 {
    color: #422;
}

h5 {
    color: #633;
}

h4 {
    color: #844;
}

h3 {
    color: #a55;
}

h2 {
    color: #c66;
}

h1 {
    color: #e77;
}

a,
a:visited {
    color: red;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #7e1;
}

blockquote {
    margin: 0;
    border-left: 0.25rem solid red;
    padding-left: 1.75rem;
    background: #eee;
}

pre,
code:not(pre>code) {
    background: #222;
    color: white;
    padding: 0.25rem;
}

table {
    width: 100%;
}

table th,
table td {
    padding: 0.25rem;
}

table th {
    color: white;
    background: #811;
}

table tr:nth-child(2n) {
    background: #fcc;
}

img {
    max-width: 100%;
    height: 100%;
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

div.col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

::selection {
    /* color: white; */
    background-color: rgba(255, 0, 0, 0.25);
}